.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  width: 100%;
  flex-direction: column;
  gap: 30px;
  .result {
    color: black;
    font-size: 1rem;
    max-width: 700px;
    word-wrap: break-word;
  }
  .button {
  }
}
